.title 
{
	color: #00688B;
	font-size: 50px;
	text-align: center;
}

a, a:link, a:hover, a:active, a:visited
{
    color: #00688B;
	text-decoration: none;
}

body
{
    background-color:#EEE1DB;
}

.content
{
    margin:0 10% 0 10%;    
}

nav 
{
	float: center;
	text-align: center;
	color: #00688B;
	padding: 15px 15px;
	background-color: white;
}

nav a 
{
	color: #00688B;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover
{
	color: white;
	background-color:#00688B;
}

.center
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*Gallery styles*/
.gallery li
{list-style-type:  none;
display: inline;
padding: 10px;
}

footer
{
    background-color: #00688B;
    color: white;
    height: 50px;
    margin: 01;  
}
h2
{
    font-family: 'Playfair Display', sans-serif;
}
h1 
{
    font-family: 'Playfair Display', serif;
}
p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}
