.title 
{
	color: #00688B;
	font-size: 50px;
	text-align: center;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    margin: 0;
}

nav a, a:link, a:hover, a:active, a:visited
{
    color: white;
	text-decoration: none;
}

body
{
    background-color:#EEE1DB;
    text-align: left;
    margin:0 10% 0 10%;

}
.panel, a:link, a:visited, a:hover; {
        color:#d5ac9a;
    }
.content
{
    margin:0 10% 0 10%;    
}

nav 
{
	float: center;
	text-align: center;
	color: white;
	padding: 10px 10px;
	background-color: #d5ac9a;
    margin-bottom: 15px;
}

nav a 
{
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

nav a:hover
{
	color: white;
	background-color:#EEE1DB;
}

.center
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Gallery styles*/

.gallery li
{
    list-style-type:  none;
    display: inline;
    padding: 10px;
}

footer
{
    text-align: center;
    margin: 01;  
    color: white;
    width: 100%;
}

h2
{
    font-family: 'Playfair Display', sans-serif;
}

h1 
{
    font-family: 'Playfair Display', serif;
}

p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

.accordion
{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: 200;
}

.active, .accordion:hover 
{
    background-color: #dbe9ee;
}

/*footer stuff*/
.footer ul li {
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;
  list-style:none;
  padding-right:10px;} 

.footer ul li .fa {
  color: white;
}


.footer ul li:hover .fa-facebook {
  color: #C5E6E0;
  text-shadow: 0 0 15px #d5ac9a;
}

.footer ul li:hover .fa-instagram {
  color: #C5E6E0;
}

.footer ul li:hover .fa-phone {
  color: #C5E6E0;

}

.footer ul li:hover .fa-envelope {
  color: #C5E6E0;
}
.footer p {
    float:left;
    margin: 0px;
    color:#d5ac9a;
}

.panel 
{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.wrapper 
{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: #EEE1DB;
    border: 5px solid #d5ac9a;
    background-color: white;
    border-top: none;
    
}

.stuff
{
    margin: 0 auto;
    padding: 25px 25px;
}

.logo
{
    margin-left: 25%;
    padding:10px;
    height: 92.25px;
    width: 330;
    padding-bottom:5px;
}


footer 
{
    color: black;
    width: 100%;
    text-align: center;
     
}

/**social icons **/

.media ul li {
  width: 25px;
  height: 25px;
  margin: 10px;
  margin-bottom: auto;
  text-align: center;
  float: right;
  list-style:none;}


.media ul li .fa {
  color: white;
  margin-bottom: 10px;
}


.media ul li:hover .fa-facebook {
  color: #C5E6E0;
  text-shadow: 0 0 15px #d5ac9a;
}

.media ul li:hover .fa-instagram {
  color: #C5E6E0;
}

.media ul li:hover .fa-phone {
  color: #C5E6E0;

}

.media ul li:hover .fa-envelope {
  color: #C5E6E0;
}
